@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

a.go-back {
    background: #068a9b !important;
}

.is-invalid {
    border-color: red;
}

.error {
    font-weight: 500;
    font-size: .8rem !important;
    color: red;
}

.detailes h4 {
    font-size: 1rem;
    color: #898989 ! IMPORTANT;
    font-weight: 400;
}

.detailes label {
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: .3rem;
}

.detailes input,
.detailes select,
.detailes textarea {
    font-size: .9rem !important;
    height: 35px;
    font-weight: 600 !important;
}

.modal-lg,
.modal-xl {
    --bs-modal-width: 700px;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: "Mulish", sans-serif;
}

/* Login Page */

.adminstrator-login {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.adminstrator-login .left {
    background-color: #151F38;
    width: 70%;
    padding: 1.5rem 2rem;
}

.adminstrator-login .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminstrator-login .left h2 {
    color: #fff !important;
    font-size: 3rem;
}

.adminstrator-login .right {
    width: 30%;
    padding: 1.5rem 2rem;
}


.adminstrator-login .left h2 {
    color: #fff;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

/* Default Css */
:root {
    --c1: #151F38;
    --c2: #00CCCD;
    --c3: #a2ed22;
    /* bLACK AND wHITE */
    --c4: #000;
    --c5: #fff;
    /* Secondary Color */
    --c6: #f5f5f5;
    --c7: #efefef;
    --c8: #198754;
    /* Secondary Color */
    --c9: #FFC107;
    --c10: #DC3545;
    --c11: #19875445;

    --bg1: #ababab;
    --bg2: #000;
    --bg3: #a2ed22;
    --bg4: #a2ed22;
    --bg5: #a2ed22;

    --bs-1: 1px 0px 5px #00000035;
    --bs-2: 1px 0px 5px #00000025;
    --bs-3: 1px 0px 5px #00000015;

    --br-0: .4rem;
    --br-1: .5rem;
    --br-2: 1rem;
    --br-3: 1.2rem;

    --p-1: 1rem;
    --p-2: 1.5rem;

    --m-1: 1rem;
    --m-2: 1.5rem;

    --g-1: 1rem;
    --g-2: 1.5rem;

    --fs-1: .8rem;
    --fs-2: .9rem;
    --fs-3: 1rem;
    --fs-4: 1.2rem;

    --fw-1: 500;
    --fw-2: 600;
    --fw-3: 700;

    --gray-1: #ababab;
    --gray-2: #595959;
    --gray-3: #343434;

    --edit: #2c1b80;
    --delete: #fa0404;
    --success: #198754;
    --view: maroon
}

label {
    font-weight: 700;
    font-size: .8rem;
    margin-bottom: .2rem;
}

label span {
    color: red;
}

.form-check label {
    font-weight: 700 !important;
    margin: 0;
}

a.forgot-password,
.links {
    font-weight: 700 !IMPORTANT;
    text-decoration: none;
    margin-bottom: .3rem !important;
    display: block;
}

.logo {}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Outfit", sans-serif;
    color: var(--c4) !important;
    font-weight: var(--fw-2);
    margin: 0;
}

a {
    font-weight: var(--fw-1) !important;
    color: var(--c4);
}

a:hover {
    text-decoration: none !important;
}

p,
li,
td,
th {
    font-size: var(--fs-2);
    color: var(--gray-2);
    font-weight: var(--fw-1);
}

span {
    font-size: var(--fs-1);
}

span {
    display: inline;
}

.button {
    background: var(--c2) !important;
    color: #fff;
    border: none;
    height: auto !important;
}

.btn.btn-primary.button {
    width: 100%;
    background: var(--c1) !important;
    color: #fff !important;
}

.button-1 {}

.button-2 {}

.button-3 {}

.button-4 {}

.button-5 {}

.form-control,
input[type="submit"] {
    height: 40px !important;
    border-color: #dcdcdc;
}

select {
    font-size: .9rem;
    font-weight: 600;
}

.btn {
    height: 40px !important;
    box-shadow: var(--bs-1);
}

.form-check {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.form-check label {
    font-weight: 600;
}

/* Style input field value */
input {
    font-family: 'Mulish', sans-serif !important;
    color: #000 !important;
    font-size: 15px !important;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600 !important;
}

/* Style placeholder text */
input::placeholder {
    color: #999 !important;
    opacity: 1;
}

/* For better browser compatibility */
input::-webkit-input-placeholder {
    color: #999 !important;
}

input:-moz-placeholder {
    color: #999 !important;
}

input::-moz-placeholder {
    color: #999 !important;
}

input:-ms-input-placeholder {
    color: #999 !important;
    font-style: italic;
}

table td,
table th {
    font-size: var(--fs-1);
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 15px 10px !important;

}

table th,
table td {
    font-weight: 700;
}

/* Sidebar */
.sidebar {
    transition: width 0.4s ease;
}

.sidebar h4 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff ! IMPORTANT;
    font-weight: 300;
}

/* Header */

.header .d-flex {
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 1.5rem;
    box-shadow: 1px 0 15px #00000025;
}

.header .d-flex a {
    text-decoration: none;
    font-weight: 700 !IMPORTANT;
}

.d-flex.bradcrumb h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #4c4c4c ! IMPORTANT;
}

.w-15 {
    width: 15% !important;
}

.heading-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    align-items: center;
}

.d-flex.bradcrumb {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px 12px;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

li.breadcrumb-item a {
    text-decoration: none;
}

nav ol {
    margin: 0 !important;
}

/* Dashboard */

.library-dashbaord {
    display: flex;
    min-height: 100vh;
}

.library-dashbaord .sidebar {
    background: var(--c1);
    width: 270px;
}

.library-dashbaord .content-area {
    flex: 1;
    background: #fff;
    overflow-y: auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-area .header {
    height: 60px;
}

.content-area .content {
    flex: 1;
    padding: .5rem;
    background: #f5f5f5;
}

.content .card {
    background: #fff;
    padding: 1.5rem;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
}

label.permission {
    display: flex;
    gap: .8rem;
    align-items: center;
    text-transform: uppercase;
}


label.permission input[type="checkbox"] {
    height: 18px;
    width: 18px;
}

.buttons button {
    border: none;
    background: #ababab;
    padding: .3rem 1rem;
    margin-bottom: -0.7rem;
    display: inline-block !important;
    margin-top: .5rem;
    border-radius: .3rem;
    background: #151f38;
    color: #fff;
}

.content-area .footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background: #000;
    color: #fff;
    padding: .5rem;
    font-size: .8rem;
}

.w-120 {
    width: 118px !important;
}

.sidebar.w-120 ul.list-unstyled.ps-0>li>a {
    height: 73px !important;
    display: block;
    font-size: .5rem !important;
}

.sidebar.w-120 ul.list-unstyled.ps-0>li>a span {
    font-size: .7rem;
}



.sidebar.w-120 ul.list-unstyled.ps-0>li>a .fa-angle-right {
    display: none;
}

.sidebar.w-120 ul.list-unstyled.ps-0>li a i {
    margin: 0 !important;
    margin-bottom: .5rem !important;
    display: block;
}

i#sidebar {
    cursor: pointer;
}

.sidebar.w-120 ul.list-unstyled.ps-0>li div {
    background: #232d46;
    position: absolute;
    left: 100px;
    top: 0;
    width: 200px;
    padding: .5rem;
    z-index: 1;
    border-radius: .5rem;
    box-shadow: 1px 0 5px #00000045;
}

ul.list-unstyled.ps-0 li a {
    box-shadow: none;
    color: #fff;
    width: 100%;
    padding: 0;
    font-size: 1rem !important;
}

a.btn.btn-toggle.d-inline-flex.align-items-center.rounded.border-0.collapsed {
    justify-content: space-between;
}

ul.list-unstyled.ps-0 {
    padding: 0 1rem !IMPORTANT;
    text-align: center;
}

ul.list-unstyled.ps-0>li {
    background: #ffffff0f;
    padding: 0 1rem;
    border-radius: .3rem;
    position: relative;
}

ul.list-unstyled.ps-0>li {
    background: #ffffff0f;
    padding: .3rem 1rem;
    border-radius: .4rem;
    position: relative;
}


ul.list-unstyled.ps-0>li+li {
    margin-top: .5rem;
}

ul.list-unstyled ul {
    text-align: left;
}

ul.list-unstyled ul li a {
    text-decoration: none;
}

/* 
ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small li {
    padding: 0.5rem 0rem;
    border-radius: .3rem;
    margin-left: 1.5rem;
} */

ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small li {
    padding: .6rem 1rem;
    border-radius: .3rem;
    /* margin-left: 1.5rem; */
    background: #ffffff1a;
}

ul.list-unstyled.ps-0 li a {
    box-shadow: none;
    color: #fff;
    width: 100%;
    padding: 0;
    font-size: .9rem;
    display: flex ! IMPORTANT;
    align-items: center !important;
    justify-content: space-between;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small li+li {
    margin-top: .5rem;
}

ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small li a {
    font-size: .8rem !important;
}

.content-area .content h6 {
    margin-bottom: 1.2rem;
    color: #4b4b4b ! IMPORTANT;
    font-weight: 500;
    font-size: 1.5rem;
}

/* Plan */
.plan-box {
    padding: 1.5rem;
    border: 1px solid #e5e5e5;
    border-radius: 1rem;
    background: #fff;
}



.plan-box h1 {
    text-align: center;
    padding-bottom: .5rem;
}

.plan-box h4 {
    text-align: center;
    padding-bottom: .8rem;

}

ul.plan-features {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem !important;
    max-height: 350px;
    overflow: hidden;
}

span.showmore {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    margin-bottom: .8rem;
    color: #5c5c5c;
    cursor: pointer;
    margin-top: -1.5rem;
}

.overflow-auto {
    overflow: auto;
}

ul.plan-features .d-flex {
    align-items: center;
    gap: .8rem;
}

ul.plan-features li {
    font-weight: 600;
}

ul.plan-features li+li {
    margin-top: 1rem;
    color: #151f38;
    border-top: 1px dotted #dadada;
    padding-top: 1rem;
}

.col-lg-4.payment-mode label {
    display: block !important;
    margin: 0 auto;
    text-align: center;
    margin-bottom: .8rem !important;
}

.col-lg-4.payment-mode select {
    height: 50px !important;
}

/* Seat Assignment */
.seat-booking {
    display: flex;
    flex-wrap: wrap;
    row-gap: .8rem;
    column-gap: 5px;
}

.seat {
    flex: 0 0 calc(100% / 9);
    /* For 10 seats per row */
    color: white;
    text-align: center;
    padding: 0px 20px 5px 20px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
    position: relative;
}

.seat small {
    font-weight: 700;
    font-size: 0.7rem;
    display: block;
    padding: .3rem 0;
}

.seat img {
    width: 60px;
    display: block;
    margin: 0 auto;
}

.seat ul {
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.3rem;
}

.seat ul .fa-check-circle {
    font-size: 1rem;
}

.bookedSeat {
    filter: opacity(0.5);
}

ul.actionalbls {
    list-style: none;
    padding: 0;
    display: flex;
    gap: .5rem;
    justify-content: flex-start;
    margin: 0;
    margin-left: 1.5rem;
}

ul.actionalbls li i {
    width: 32px;
    height: 32px;
    background: #151f38;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 1.5rem;
    font-size: .8rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul.actionalbls li i:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4), -6px -6px 12px rgba(255, 255, 255, 0.15);
}

/* Colors */
.booked {
    color: #3f51b5;
}

.available {
    color: #28c17a;
}

/* Table */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: .8rem;
    border: 1px solid #d7d7d7;
}

.table-responsive table {
    margin-bottom: 0;
}

.filter-box {
    padding: 1rem;
    border: 1px solid #e7e7e7;
    border-radius: .8rem;
}

.filter-box h4 {
    font-size: 1.1rem;
    color: #2294c9 !important;
    font-weight: 500;
}

table.table.text-center tr:nth-child(1) th {
    background: #e9f0ff !important;
    padding: 1rem 0;
    font-weight: 800 !important;
}

table.table.text-center td {
    font-weight: 600 !important;
    vertical-align: middle;
    padding: 1rem 0;
}

table.table.text-center tr:last-child td {
    border: none !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    background: transparent;
}

td small {
    color: #009ebe;
    font-weight: 700;
}

button.active-status {
    background: #28c17a;
    color: #fff;
    padding: .2rem 1rem;
    border: none;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 1px 0 5px #00000045;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    /* Fixed width */
    display: inline-block;
    /* Ensures the element respects width */
}

button.expired-status {
    background: #d20000;
    color: #fff;
    padding: .2rem 1rem;
    border: none;
    font-weight: 700;
    border-radius: 1rem;
}

span.uppercase {
    font-weight: 800;
    text-transform: uppercase;
}

.tooltip .tooltip-inner {
    font-size: 11px;
    /* Adjust the font size as needed */
    padding: 4px 6px;
    /* Optional: Adjust padding to suit the smaller text */
}

/* Container for the icon and the card */
.info-container {
    position: relative;
    display: inline-block;
}

/* Styling the information icon */
.info-icon {
    font-size: 24px;
    color: #007bff;
    /* You can change the color to match your design */
    cursor: pointer;
}

/* Container for the icon and the card */
.info-container {
    position: relative;
    display: inline-block;
}

/* Styling the information icon */
.info-icon {
    font-size: 24px;
    color: #2294c9;
    /* Customize the color as needed */
    cursor: pointer;
}

/* Styling the info card */
.info-card {
    position: absolute;
    top: -3px;
    left: 165px;
    transform: translateX(-50%);
    width: 260px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0 55px #00000024;
    display: none;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Styling the title inside the card */
.info-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

/* Styling the detailed text inside the card */
.info-details {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

/* Display the card when it is toggled */
.info-card.show {
    display: block;
    opacity: 1;
}



.actions {
    background: #fff;
    border-radius: .8rem;
}


.upper-box {
    background: linear-gradient(187deg, #151f38, #233E4A);
    padding: 1.5rem;
    border-radius: .8rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.upper-box::after {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    background: #fff;
    right: -111px;
    top: -35px;
    border-radius: 300px;
    opacity: .1;
    z-index: -1;
}

.upper-box::before {
    position: absolute;
    content: '';
    width: 90px;
    height: 90px;
    background: #fff;
    right: 16%;
    top: 10%;
    border-radius: 90px;
    opacity: .3;
    animation: slideInOut 5s infinite;
    /* Add animation with infinite loop */
}

/* Define keyframes for slide in and slide out */
@keyframes slideInOut {
    0% {
        transform: translateX(-100px);
        /* Slide in from the left */
        opacity: 0;
        /* Optional fade-in effect */
    }

    50% {
        transform: translateX(0);
        /* Center position */
        opacity: 0.3;
    }

    100% {
        transform: translateX(100px);
        /* Slide out to the right */
        opacity: 0;
        /* Optional fade-out effect */
    }
}

.upper-box *:not(span) {
    color: #fff !important;
}

.upper-box input {
    color: #000 !important;
}


.upper-box span,
.action-box span {
    font-weight: 600 !important;
}

.upper-box .d-flex {
    justify-content: space-between;
    align-items: baseline;
}

a.btn.btn-primary.button {
    height: auto ! IMPORTANT;
}

.upper-box .d-flex a {
    background: #1e293c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem 1rem;
    border-radius: .5rem;
    z-index: 1;
    position: relative;
    transition: all .5s;
    text-decoration: none;
    gap: 1rem;
}

.upper-box .d-flex a:hover {
    transform: translateY(-4px);
    box-shadow: var(--bs-1);
    transition: all .5s;
}

.upper-box h4 {
    color: #fff !IMPORTANT;
    border: none;
    font-size: 1.2rem !important;
    padding: 0 !important;
}

.upper-box h5,
.action-box h5 {
    font-size: 1rem !important;
}

.actions {
    background: #fff;
    border-radius: .8rem;
    border: 1px solid #e7e7e7;
}


.action-box {
    padding: 1.5rem;
}

.action-box h4 {
    font-size: 1.2rem !important;
    color: #088b9c !important;
    border: none;
    font-weight: 600 !important;
    padding: 0px !important;
    margin-bottom: 1rem !important;
    display: flex;
    gap: .8rem;
}

.action-box .text-info {
    color: rgb(45, 128, 161) !important;
}

.seat--info {
    text-align: center;
    padding: 1.5rem;
    background: #fff;
    border-radius: .8rem;
    border: 1px solid #e7e7e7;
}

.seat--info button {
    display: block;
    margin: 0 auto;
    /* margin-bottom: .5rem; */
    background: #2FAB35;
    color: #fff;
    border: none;
    font-size: 13px;
    padding: .3rem 1rem;
    border-radius: .2rem;
    font-weight: 700;
}

.seat--info p {
    font-weight: 500;
    margin: 0;
    padding: .5rem;
    font-size: 1.1rem;
    color: #000;
}

.seat--info .seat {
    position: relative;
    width: 72px;
}

.seat--info span.d-block {
    font-weight: 700;
    color: #000;
}

.seat--info .seat {
    padding: 0;
    border: none;
}

/* List Style Request */
.request-logs.mt-4 {
    background: #fff;
    padding: 1.5rem;
    border-radius: .8rem;
    border: 1px solid #e7e7e7;
}

.request-logs.mt-4 h5 {
    margin-bottom: 1.5rem;
}

.request-logs.mt-4 ul {
    list-style: none;
    padding: 0;
}

ul.request_list span {
    display: block;
}

ul.request_list li+li {
    margin-top: 1rem;
    border-top: 1px solid #bbbbbb;
    padding-top: 1rem;
}

p.m-0 {
    font-weight: 700;
    margin-bottom: .4rem !IMPORTANT;
}

span.description {
    margin-bottom: .4rem;
    color: #797979;
    font-style: italic;
}

span.timestamp {
    font-weight: 500;
    margin-bottom: .2rem;
    color: #2f2f2f;
}

.payment-detaile {
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
}

.paymentinfo {
    padding: 2rem;
    border: 1px solid #e7e7e7 !important;
    border-radius: 1rem;
    background: #e9e9e9;
}

.payment-information {
    padding: 2rem;
}

.payment-information a {
    font-size: 1rem;
    text-decoration: none;
}

/* Master Design */
.master-box {
    background: #dedede;
    padding: 1.5rem;
    border-radius: .5rem;
}

.master-box h4 {
    font-size: 1rem;
    font-weight: 600;
}

.master-box .d-flex {
    justify-content: space-between;
    align-items: center;
}

.master-box i.toggle-button {
    font-size: 1.5rem !important;
    cursor: pointer;
}

.master-form.mt-3>ul {
    list-style: none;
    margin: 0;
    margin-top: .9rem;

    padding: 0;
}

.master-form.mt-3>ul>li {
    padding: .6rem 1rem;
    background: #fff;
    border-radius: .5rem;
}

.master-form.mt-3>ul>li+li {
    margin-top: .5rem;
}

.master-form.mt-3 ul ul {
    list-style: none;
    display: flex;
    gap: .8rem;
}

.form-fields {
    padding: 1rem;
    border: 1px solid #e7e7e7;
    background: #fff;
    border-radius: .8rem;
}

img.LibraryProfile {
    width: 90px;
    display: block;
    margin: 2.5rem auto;
}

.profile ul.dropdown-menu.show {
    width: 20rem;
    border: none;
    box-shadow: 1px 0 5px #00000035;
    padding: 0rem;
    margin-top: 1rem !important;
}

ul.dropdown-menu.show li+li {
    border-top: 1px solid #e7e7e7;
}

ul.dropdown-menu.show li+li a {
    padding: .9rem 1.3rem;
}

ul.dropdown-menu.show li+li a .fas {
    width: 30px;
}


/* Library Steps */
.steps {
    background: #e0e0e0;
    margin-bottom: 1.5rem;
    border-radius: 3rem;
}

.steps ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.steps ul li {
    width: calc(100% / 4 - 1rem);
    background: #fff;
    margin: .5rem;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    text-align: center;
}

.steps ul li a {
    font-weight: 700 !important;
    text-decoration: none;
}

.steps ul li.active {
    background: #151f38;
}

.steps ul li.active a {
    color: #fff;
}